<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  
  {% seo %}
  
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
  
  {% if site.favicon %}
  <link rel="icon" type="image/png" href="{{ site.favicon | relative_url }}">
  {% endif %}
  
  <script>
    if (localStorage.getItem("theme") === "dark") {
      document.documentElement.setAttribute("dark", "");
      document.documentElement.classList.add('dark-mode');
    }
  </script>
</head>
<body>

  <!-- begin global wrap -->
  <div class="global-wrap">
    
    {% include header.html %}
    
    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ content }}
    </main>
    <!-- end content -->
    
    {% include footer.html %}
    
  </div>
  <!-- end global wrap -->

  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>

